
ul li {
    font-style: italic;
}

ol li {
    text-decoration: underline;
}
ol o {
    font-style: italic;
}
body {
    background-color: rgb(212, 206, 200);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.colonna {
    column-count: 2;
}
.center {
    text-align: center;
}
.container {
    padding-left: 20%;
    padding-right: 20%;
}